@page "/dashboard"
@attribute [Authorize]
@layout WebLayout

<PageTitle>Dashboard</PageTitle>

<section class="flex items-center px-6 xl:px-24">
    <article class="space-y-4">
        <h1 class="text-3xl font-bold">
            Dashboard
        </h1>
        <div class="card bg-base-100 shadow-xl">
            <div class="card-body">
                <p>
                    You're logged in!
                </p>
            </div>
        </div>
    </article>
</section>