@page "/"
@using Affiliate.Application.Extensions
@layout WebLayoutNew
@inject UserHelper UserHelper

@code {
    [CascadingParameter] public HttpContext Context { get; set; }
    [CascadingParameter] public PageState PageState { get; set; } = default!;

    protected override void OnInitialized()
    {
        //Log.Information("This is the homepage.");
    }

}

<PageTitle>@PageState.Config?.PageName</PageTitle>
<section class="banner-section index">
    <div class="overlay">
        <div class="banner-content">
            <div class="container wow fadeInUp">
                <div class="row justify-content-between align-items-center">
                    <div class="col-xl-6 col-lg-6 col-md-8">
                        <div class="main-content">
                            <div class="top-area section-text">
                                @if (PageState.User.IsAuthenticated)
                                {
                                    <a class="single-box shadow-2xl bounce" href="/game" style="width: 300px; height: 375px; display: inline-block;"> 
                                        <img src="images/game.png" alt="Game" style="width: 100%; height: 100%;object-fit: cover;border-radius: 10px;">
                                    </a>
                                }
                                else
                                {
                                    <h1 class="title">TRƯỜNG GÀ THOMO</h1>
                                }
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>