@code{

    [CascadingParameter] public PageState PageState { get; set; } = default!;
    
}

<div class="inline-flex items-center">
    <img src="@PageState.Config?.Logo" class="h-5 md:h-8 w-auto mr-2"/>
    <h4 class="text-lg md:text-2xl font-bold">@PageState.Config?.PageName</h4>
    @*<h4 class="text-lg md:text-2xl font-bold">@Env.Get("APP_NAME")</h4>*@
</div>